<div>
  <h1>Mulriplica Numeros</h1>
  <form [formGroup]="formulario">
    <div class="mb-3">
      <label for="numero1" class="from-label">
        Numero 1
      </label>
      <input type="number" id="numero1" class="form-control" formControlName="numero1" />
      <label for="numero2" class="from-label">
        Numero 2
      </label>
      <input type="number" id="numero2" class="form-control" formControlName="numero2" />
      <br>
      <button class="btn btn-primary" (click)="multNumeros()">Multiplicar </button>
      <h2>Resultados : {{resultado}} </h2>
    </div>
  </form>
</div>
